<c-modal size="xl" id="changeDriverModal" [visible]="visible" (visibleChange)="handleVisibilityChange($event)">
  <c-modal-content>
    <c-modal-header>
      <h5 cModalTitle>New Deployment</h5>
    </c-modal-header>
    <c-modal-body>
      <h6>You have been activated for a deployment. Please click the button below to check the deployment.</h6>
    </c-modal-body>
    <c-modal-footer>
      <c-col>
       <button cButton color="primary" (click)="goDeployment()">Check Deployment</button>
      </c-col>
    </c-modal-footer>
  </c-modal-content>
</c-modal>
