<div class="login-container">
  <div class="login-left">
    <h2>BusBuddy Login! 👋</h2>
    <form (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="test@atheros.ai" required>
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="******" required>
      <button type="submit" class="btn btn-signin">Sign In</button>
      <p cTextColor="danger" *ngIf="failed">Please check your email or password again!</p>
    </form>
  </div>
  <div class="login-right">
    <div class="login-info">
      <h3>Placeholder</h3>
      <p>Text.</p>
      <img src="../../../assets/cute_robot.jpg" alt="Cute Robot">
    </div>
  </div>
</div>
