<c-modal size="xl" id="editRouteModal" [visible]="visible" (visibleChange)="handleVisibilityChange($event)" backdrop="static">
  <c-modal-content>
    <c-modal-header>
      <h5 cModalTitle>Edit Route</h5>
    </c-modal-header>
    <c-modal-body>
      <div class="d-flex fkex-row align-items-center mb-3">
        <c-container>
          <c-row class="justify-content-center">
            <c-col>
              <c-card class="mx-4">
                <c-card-body class="p-4">
                  <form cForm [formGroup]="editRouteForm">
                    <h3>Edit Route</h3>
                    <p class="text-body-secondary">Edit an existing route</p>
                    <div class="mb-3">
                        <h4>Bus Service {{ serviceNumber }}</h4>
                    </div>
                    <div class="mb-3">
                      <label cLabel class="mb-1">Bus Stops (comma-separated)</label>
                      <textarea cFormControl
                                rows="3" placeholder="10000, 10001, 10002..."
                                id="inputBusStops"
                                formControlName="inputBusStops"
                                (input)="checkStops($event)"
                      ></textarea>
                      @if (!valid) {
                        @if (invalid.length==0) {
                          <p cTextColor="danger">No stop codes have been inputted!</p>
                        }
                        @else {
                          <p cTextColor="danger">The following stop codes are not found or invalid: </p>
                          @for (stop of invalid; track stop.id) {
                            <p cTextColor="danger">{{ stop.stop_code }}</p>
                          }
                        }
                      }
                    </div>
                    <div class="d-grid mb-3">
                      <button cButton variant="outline" color="secondary" (click)="inputStopsMap($event)">View On Map</button>
                    </div>
                    <div class="map-container">
                      <div class="map-frame">
                        <div id="mapedit"></div>
                      </div>
                    </div>
                    <div class="d-grid mb-3">
                      <c-row>
                        <c-col class="d-grid mb-3" [xs]>
                          <button cButton color="danger" variant="outline" [cModalToggle]="staticBackdropModal2edit.id">Cancel</button>
                        </c-col>
                        <c-col class="d-grid mb-3" [xs]>
                          <button cButton color="primary"
                                  *ngIf="!valid"
                                  disabled>Confirm</button>
                          <button cButton color="primary"
                                  *ngIf="valid"
                                  (click)="onSubmit()"
                                  [cModalToggle]="ModalOne.id">Confirm</button>
                        </c-col>
                      </c-row>
                    </div>
                  </form>
                </c-card-body>
              </c-card>
            </c-col>
          </c-row>
        </c-container>
      </div>
    </c-modal-body>
  </c-modal-content>
</c-modal>

  <c-modal id="liveDemoModalOne" #ModalOne [scrollable]="true" [(visible)]="display" backdrop="static">
    <c-modal-header>
      <h5 cModalTitle>Edit Route Confirmation</h5>
      <button cButtonClose (click)="display = false"></button>
    </c-modal-header>
    <c-modal-body>
        <p>Old Bus Stops:</p>
        <textarea disabled cFormControl style="border-style:none; border-color:transparent; overflow:auto; background-color:transparent;" [value]="oldStops"></textarea>
        <p>New Bus Stops:</p>
        <textarea disabled cFormControl style="border-style:none; border-color:transparent; overflow:auto; background-color:transparent;" [value]="currentStops"></textarea>
    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="staticBackdropModaledit.id" (click)="onConfirm()"
              cButton color="primary" variant="outline">Confirm</button>
    </c-modal-footer>
  </c-modal>

  <c-modal #staticBackdropModaledit backdrop="static" id="staticBackdropModaledit">
    <c-modal-header>
      <h5 cModalTitle>Edit Route</h5>
    </c-modal-header>
    <c-modal-body>Edit Route successful.</c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="staticBackdropModaledit.id" cButton color="success" variant="outline" (click)="clickClose()">Close</button>
    </c-modal-footer>
  </c-modal>

  <c-modal #staticBackdropModal2edit backdrop="static" id="staticBackdropModal2edit">
    <c-modal-header>
      <h5 cModalTitle>Edit Route cancelled</h5>
    </c-modal-header>
    <c-modal-body>Route remains unchanged.</c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="staticBackdropModal2edit.id" cButton color="danger" variant="outline" (click)="clickClose()">Close</button>
    </c-modal-footer>
  </c-modal>
