<c-modal size="xl" id="editRouteModal" [visible]="visible" (visibleChange)="handleVisibilityChange($event)" backdrop="static">
  <c-modal-content>
    <c-modal-header>
      <h5 cModalTitle>Edit Route</h5>
    </c-modal-header>
    <c-modal-body>
      <div class="d-flex fkex-row align-items-center mb-3">
        <c-container>
          <c-row class="justify-content-center">
            <c-col>
              <c-card class="mx-4">
                <c-card-body class="p-4">
                  <form cForm id="editRouteForm">
                    <h3>Edit Route</h3>
                    <p class="text-body-secondary">Edit an existing route</p>
                    <div class="mb-3">
                        <label cLabel>Bus Service</label>
                        <input cFormControl
                                id="inputBusServices"
                                placeholder="Example: 179"
                        />
                    </div>
                    <div class="mb-3">
                      <c-row>
                          <c-col class="d-grid mb-3" [xs]>
                              <label clabel for="inputBusStops" class="mb-1">Current Bus Stops</label>
                              <textarea cFormControl rows="3" placeholder="10000, 10001, 10002..." disabled #oldBusStops id="oldBusStops"></textarea>
                          </c-col>
                          <c-col class="d-grid mb-3" [xs]>
                              <label clabel for="inputBusStops" class="mb-1">New Bus Stops</label>
                              <textarea cFormControl rows="3" placeholder="10000, 10001, 10002..." #inputBusStops id="inputBusStops"></textarea>
                          </c-col>
                      </c-row>
                    </div>
                    <div class="d-grid mb-3">
                      <button cButton variant="outline" color="secondary" (click)="inputStopsMap(inputBusStops.value)">View On Map</button>
                    </div>
                    <div class="map-container">
                      <div class="map-frame">
                        <div id="mapedit"></div>
                      </div>
                    </div>
                    <div class="d-grid mb-3">
                      <c-row>
                        <c-col class="d-grid mb-3" [xs]>
                          <button cButton color="danger" variant="outline" [cModalToggle]="staticBackdropModal2.id">Cancel</button>
                        </c-col>
                        <c-col class="d-grid mb-3" [xs]>
                          <button cButton color="primary" (click)="setBusStopConfirmationPopup(oldBusStops.value,inputBusStops.value)">Confirm</button>
                        </c-col>
                      </c-row>
                    </div>
                  </form>
                </c-card-body>
              </c-card>
            </c-col>
          </c-row>
        </c-container>
      </div>
    </c-modal-body>
  </c-modal-content>
</c-modal>

  <c-modal id="liveDemoModalOne" #ModalOne [scrollable]="true" [(visible)]="display" backdrop="static">
    <c-modal-header>
      <h5 cModalTitle>Edit Route Confirmation</h5>
      <button cButtonClose (click)="display = false"></button>
    </c-modal-header>
    <c-modal-body>
        <p>Old Bus Stops:</p>
        <textarea disabled cFormControl style="border-style:none; border-color:transparent; overflow:auto; background-color:transparent;" [value]="oldStops"></textarea>
        <p>New Bus Stops:</p>
        <textarea disabled cFormControl style="border-style:none; border-color:transparent; overflow:auto; background-color:transparent;" [value]="newStops"></textarea>
    </c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="staticBackdropModal.id" cButton color="primary" variant="outline">Confirm</button>
    </c-modal-footer>
  </c-modal>

  <c-modal #staticBackdropModal backdrop="static" id="staticBackdropModal">
    <c-modal-header>
      <h5 cModalTitle>Edit Route</h5>
    </c-modal-header>
    <c-modal-body>Edit Route successful.</c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="staticBackdropModal.id" cButton color="success" variant="outline" (click)="clickClose()">Close</button>
    </c-modal-footer>
  </c-modal>

  <c-modal #staticBackdropModal2 backdrop="static" id="staticBackdropModal2">
    <c-modal-header>
      <h5 cModalTitle>Edit Route cancelled</h5>
    </c-modal-header>
    <c-modal-body>Route remains unchanged.</c-modal-body>
    <c-modal-footer>
      <button [cModalToggle]="staticBackdropModal2.id" cButton color="danger" variant="outline" (click)="clickClose()">Close</button>
    </c-modal-footer>
  </c-modal>
