<c-modal size="xl" id="changeDriverModal" [visible]="visible" (visibleChange)="handleVisibilityChange($event)">
  <c-modal-content>
    <c-modal-header>
      <h5 cModalTitle>Change Driver</h5>
      <button cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <h6>Current Driver: {{deployment.driver_name}}</h6>
      <h6>Search New Driver:</h6>
      <form [formGroup]="searchDriver">
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilUser"></svg>
          </span>
          <input cFormControl formControlName="searchInput"
                 placeholder="Enter driver name"
                 name="searchInput" required (input)="search($event)"/>
        </c-input-group>
      </form>
      @for (user of filteredDrivers; track user.uid; let i = $index;) {
        <c-card>
          <c-card-body>
            <h6 cCardTitle>Driver {{user.name}}</h6>
            <p cCardText>Current Status: {{user.current_state}}</p>
            <button cButton
                    *ngIf="deployment.driver_uid==user.uid"
                    disabled>Currently Driving This Deployment!</button>
            @if (deployment.driver_uid!=user.uid){
              <button cButton
                      *ngIf="user.current_state!='On Break'"
                      disabled>Choose Driver</button>
              <button cButton
                      *ngIf="user.current_state=='On Break'"
                      (click)="changeDriver(deployment.deployment_uid, user.uid)">Choose Driver</button>
            }
          </c-card-body>
        </c-card>
      }
    </c-modal-body>
    <c-modal-footer>
    </c-modal-footer>
  </c-modal-content>
</c-modal>
