<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Service Stop Connection</title>
</head>
<body>
  <form method="POST">
    <label for="stop_code">Choose a Stop:</label><br>
    <select name="stop_code" id="stop_code">
      {% for stop in available_stops %}
      <option value="{{stop.stop_code}}">Stop {{stop.stop_name}}</option>
      {% endfor %}
    </select><br>
    <label for="service_number">Choose a Service to Add:</label><br>
    <select name="service_number" id="service_number">
      {% for service in available_services %}
      <option value="{{service.service_number}}">Service {{service.service_number}}</option>
      {% endfor %}
    </select><br>
    <button type="submit">Add!</button>
  </form>
  <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>