<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Deployment</title>
</head>
<body>
  <form method="POST">
    Deployment<br>
    Bus {{ bus }} by<br>
    Driver {{ driver_name }} starting<br>
    {{ deployment.datetime_start }}<br>
    <label for="action">Available actions for this deployment:</label><br>
    <select name="action" id="action">
      {% for index in range(deployment.available_actions|length) %}
      <option value="{{index}}">{{ deployment.available_actions[index] }}</option>
      {% endfor %}
    </select><br>
    <button type="submit">Update Deployment!</button>
  </form>
  <a href="{{ url_for('choose_deployment') }}">Back to Choosing Deployment</a><br>
  <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>