<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Deployment</title>
</head>
<body>
  {% if found_deployments|length == 0 %}
    There are no available deployments to choose from!<br>
  {% else %}
  <form method="POST">
    Bus selected: Bus {{ bus }}<br>
    Driver selected: Driver {{ driver_name }}<br>
    <label for="deployment_id">Deployment to Choose:</label><br>
    <select name="deployment_id" id="deployment_id">
      {% for deployment in found_deployments %}
      <option value="{{deployment.uid}}">Started {{ deployment.datetime_start }}, currently {{ deployment.current_status }}.</option>
      {% endfor %}
    </select><br>
    <button type="submit">Select!</button>
  </form>
  {% endif %}
  <a href="{{ url_for('choose_deployment') }}">Back to Choosing Deployment</a><br>
  <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>