<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BusBuddy Dev Page</title>
</head>
<body>
    <a href="http://localhost:8080/add_account">Add an Account</a><br><br>
    <a href="http://localhost:8080/add_bus">Add a Bus</a><br>
    <a href="http://localhost:8080/add_deployment">Deploy a Bus</a><br><br>
    <a href="http://localhost:8080/add_bus_stop">Add a Bus Stop</a><br>
    <a href="http://localhost:8080/add_service">Add a Service</a><br>
    <a href="http://localhost:8080/add_service_stop_connection">Connect Bus Stop to Service</a><br><br>
    <a href="http://localhost:8080/change_deployment">Change a Deployment Status</a><br>
</body>
</html>